
.box{
    height:20vh;
    width:38.5vw;
    margin-top:1em;
    padding-top:0.1em;
    padding-right: 0.1rem;
    background-color: white;
    text-align: center;
}
.dollar-sign{
font-size:4em !important;
font-weight:'bold';
color:#32c2d2;
}