
.box{
    height:20vh;
    width:90vw;
    margin-top:1em;
    padding-top:0.1em;
    padding-left: 0.3rem;
    background-color: white;
    text-align: center;
    color: #9ae0e7;}
@media (min-width: 992px) and (max-width: 1199.98px) { .box{width: 38vw;} }
@media (min-width: 1200px) { .box{width: 38vw;} }

.dollar-sign{
font-size:4em !important;
font-weight:'bold';
color:#32c2d2;
}